<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danial</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <span class="txt">BLACK THEME</span>
    <br>
    <label class="switch">
        <input type="checkbox" class="black">
        <span class="slider round"></span>
    </label>
    <br> <br>
    <span class="txt">WHITE THEME</span>
    <br>
    <label class="switch">
        <input type="checkbox" class="white">
        <span class="slider round"></span>
    </label>
    <br> <br>
    <span class="txt">RAINBOW THEME</span>
    <input type="color" class="color">
    <br>
    <label class="switch">
        <input type="checkbox" class="rain">
        <span class="slider round"></span>
    </label>
    <script src="../static/js/app.js"></script>
</body>
</html>